body,
a {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
span {
  font-weight: bold;
}
.negrito {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
.menu-navegacao {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.item-menu-navegacao {
  font-size: 20px;
  padding-left: 32px;
  padding-top: 30px;
}
.botao {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}
.botao:hover {
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 4px;
}

.pessoa {
  max-width: 50%;
}
.sobre-mim {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 70px;
}
.texto-sobre-mim {
  text-align: left;
  font-size: 30px;
  padding-bottom: 40px;
}
.paragrafo-sobre-mim {
  text-align: left;
  font-size: 15px;
  padding-bottom: 100px;
}
.rds {
  max-width: 50%;
}
.skill {
  display: flex;
  text-align: center;
  justify-content: space-between;
  justify-content: center;
}
.titulo-skill {
  font-size: 48px;
  padding-bottom: 75px;
}
.skills {
  max-width: 100%;
  padding-bottom: 75px;
}
.botao-redes-sociais {
  margin: 0px 15px 0px 15px;
}
.botao-redes-sociais:hover {
  background-color: black;
  color: white;
}
.redes-sociais {
  display: flex;
  gap: 25px;
}

.redes-social:hover {
  color: white;
  background-color: black;
}
.redes-social {
  background-color: white;
  color: black;
  padding: 15px;
  border: solid 2px black;
  border-radius: 5px;
}
.habilidades {
  display: flex;
  gap: 25px;
  margin-bottom: 75px;
}
.habilidade:hover {
  background-color: black;
  color: white;
}
.habilidade {
  background-color: white;
  color: black;
  border: solid 2px black;
}
.titulo-me {
  display: flex;
  justify-content: center;
  font-size: 48px;
  gap: 15px;
  margin-bottom: 150px;
  margin-top: 75px;
}
.titulo-google {
  display: flex;
  align-items: center;
}
.titulo-Youtube {
  display: flex;
  align-items: center;
}
.titulo-apple {
  display: flex;
  align-items: center;
}
.Apple {
  border: solid 1px gray;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
}
.Apple:hover {
  background-color: gray;
}
.Google {
  border: solid 1px gray;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
}
.Google:hover {
  background-color: gray;
}
.Youtube {
  border: solid 1px gray;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
}
.Youtube:hover {
  background-color: gray;
}
.me {
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.conteiner2 {
  background-color: black;
  color: white;
  margin-bottom: 30px;
}
.mais-sobre-mim {
  display: flex;
}
.tsm {
  font-size: 48px;
  padding-bottom: 20px;
  display: flex;
}
.sm {
  font-size: 16px;
  padding-bottom: 40px;
}
.img-sm {
  margin-right: 50px;
}
.p1flex {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.p1 {
  padding-left: 40px;
}
.numero-p1 {
  font-size: 48px;
  padding-top: 60px;
}
.tp1 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.txp1 {
  padding-bottom: 20px;
}
.p2flex {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  flex-direction: row-reverse;
}
.p3flex {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.creditos {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
}
.creditos2 {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
  margin-left: 800px;
}
.titulo-p {
  display: flex;
  justify-content: center;
  font-size: 48px;
  gap: 15px;
  margin-bottom: 150px;
  padding-top: 75px;
  margin-top: 25px;
}
